@using MVCVSMobile.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<MVCVSMobile.Models.New>

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>....</text>
    }
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Danh mục tin tức</h2>

<p>
    @Html.ActionLink("Thêm mới", "Them")
</p>
<table class="table">
    <tr>
        <th style="width:250px">Tiêu đề</th>
        <th style="width:150px">Hình ảnh</th>
        <th style="width:250px">Chi tiết</th>
        <th style="width:200px">Ngày đăng</th>
        <th style="width:100px">Người đăng</th>
        <th style="width:100px">Ngày Update</th>
        <th style="width:250px">#</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@Url.Content("~/Demo/Hinhanh/"+ item.Image)" width="100" />
        </td>
        <td>
            @Truncate(item.Detail, 100)
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @String.Format("{0:dd/MM/yyyy}", item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>