
<!DOCTYPE html>
<html xmlns:fb='http://www.facebook.com/2008/fbml' lang="vi">
<head>  
    <title>Hệ thống bán lẻ điện thoại,tablet chính hãng |VSMobile.tk</title>
    <!--Api-->
    @RenderSection("DHcss",false)
    @RenderSection("DHjs", false)
    <meta property="fb:app_id" content="1605289023106792" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta property="fb:admins" content="100000686899395" />
    <!--end Api-->
    <link rel="icon" href="~/Demo/Hinhanh/favicon1.jpg" type="image/x-icon" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Style -->
    <link href="~/Demo/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Demo/Content/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Demo/Content/style.css" rel="stylesheet" />
    <link href="~/Demo/Content/custom.css" rel="stylesheet" />
    <link href="~/Demo/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Demo/Content/owl.theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/Demo/Content/jquery-ui.css" rel="stylesheet" />
    <!--Details-->
    <link href='//bizweb.dktcdn.net/100/037/441/themes/179429/assets/blogmate.css?1476341399171' rel='stylesheet' type='text/css' />
    @RenderSection("zoom", false)
    @RenderSection("API", false) 
    <link href="~/Demo/Content/flexslider.css" rel="stylesheet" />
    <script src="~/Demo/Script/option-selectors.js"></script>
    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
    <!--Dathang-->
    <link href="~/Demo/Content/checkout.css" rel="stylesheet" />
    <link href="~/Demo/Content/checkout1.css" rel="stylesheet" />
   <!-- JavaScript -->
    <script src="~/Demo/Script/Xoaquangcao.js"></script>
    <script src="~/Demo/Script/jquery.min.js"></script>
    <script src="~/Demo/Script/bootstrap.min.js"></script>
    <script src="~/Demo/Script/parallax.js"></script>
    <script src="~/Demo/Script/common.js"></script>
    <script src="~/Demo/Script/owl.carousel.min.js"></script>
    <script src="~/Demo/Script/jquery.fancybox.pack.js"></script>
    <script src="~/Demo/Script/api.jquery.js"></script>
    <script src="~/Demo/Script/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Demo/Script/jquery.flexslider.js"></script>
    <script src="~/Demo/Script/cloud-zoom.js"></script>
    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'accent-theme.bizwebvietnam.net';
        Bizweb.theme = { "id": 174322, "name": "Accent 0410", "role": "main", "previewable": true, "processing": false, "created_on": "2016-10-04T04:43:48Z", "modified_on": "2016-10-04T04:44:08Z" }
        Bizweb.template = 'index';
    </script>

    <script>
        //<![CDATA[
        (function () {
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
            s.src = '//bizweb.dktcdn.net/assets/themes_support/bizweb_stats.js?v=8';
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();

        //]]>
    </script>
    <noscript><iframe height='0' width='0' style='display:none;visibility:hidden' src='/visit/record.gif?p=%2f&r=https%3a%2f%2fthemes.bizweb.vn%2fdemo%2felectronic-04-accent&s=q4buuwau2u2g3eysz5eul3ew'></iframe></noscript>

    <script>
        (function () {
            function asyncLoad() {
                var urls = ["//bwstatistics.bizwebapps.vn/genscript/script.js?store=accent-theme.bizwebvietnam.net"];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            }
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>

    <script type='text/javascript'>
        (function () {
            var log = document.createElement('script'); log.type = 'text/javascript'; log.async = true;
            log.src = '//stats.bizweb.vn/delivery/37441.js?lang=vi';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(log, s);
        })();
    </script>

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src='//www.googletagmanager.com/ns.html?id=GTM-MS77Z9' height='0' width='0' style='display:none;visibility:hidden'></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MS77Z9');
    </script>
    <!-- End Google Tag Manager -->

    <link href="~/Demo/Content/bw-statistics-style.css" rel="stylesheet" />
</head>

<body class="cms-index-index">
    <div class="page">
        <!-- Header -->
        <header class="header-container" style="background:#fff">
            <div class="header-top" style="background: #1295c7">
                <div class="container">
                    <div class="row">
                        @{
                            var kt = Session["Taikhoan"];
                        }
                        <!-- Header Language -->
                        <div class="col-xs-6">
                            <div class="welcome-msg hidden-xs">Chào mừng bạn đã đến với VSMobile</div>
                        </div>
                        <div class="col-xs-6">
                            <!-- Header Top Links -->
                            <div class="toplinks">
                                <div class="links">
                                    <div class="myaccount"><a title="Tài khoản" href="/DangkyDangnhap/Taikhoan"><span class="hidden-xs">Tài khoản</span></a></div>
                                    <div class="check"><a title="Thanh toán" href="/Giohang/DatHang"><span class="hidden-xs">Thanh toán</span></a></div>
                                </div>
                            </div>
                            <!-- End Header Top Links -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header container">
                <div class="row">
                    <div class="col-lg-2 col-sm-3 col-md-2 col-xs-12">
                        <!-- Header Logo -->
                        <a class="logo" title="Điện thoại thông minh VSMobile" href="/"><img alt="Điện thoại thông minh VSMobile" src="~/Demo/Hinhanh/logo.png" /></a>
                        <!-- End Header Logo -->
                    </div>
                    <!-- Search-col -->
                    <div class="col-lg-6 col-sm-5 col-md-6 col-xs-12">
                       
                        @using(Html.BeginForm("KQTimKiem","Dssanpham",FormMethod.Post))
                        { 
                         <div class="search-box">
                             <form action="/Dssanpham/KQTimkiem" method="post" id="search_mini_form">
                                 <input type="text" placeholder="Nhập từ khóa cần tìm kiếm" maxlength="70" name="Timkiem" id="search">
                                <button id="submit-button" class="search-btn-bg" type="submit"><span>Tìm kiếm</span></button>
                          
                             </form>
                          </div>
                        }
                            
                          
                        </div>
                    <!-- End Search-col -->
                    <!-- Top Cart -->
                   
                  
                    <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12">
                        @if (kt == null)
                        {
                        <div class="signup"><a title="Đăng ký" href="/DangkyDangnhap/Dangky"><span>Đăng ký ngay</span></a></div>
                        <span class="or hidden-xs hidden-sm"> hoặc </span>
                        <div class="login"><a title="Đăng nhập" href="/DangkyDangnhap/Dangnhap"><span>Đăng nhập</span></a></div>
                        }
                        else
                        {
                            <div class="signup"><a title="Đăng nhập" href="/DangkyDangnhap/Dangnhap"><span>Đăng ký mới</span></a></div>
                              <span class="or hidden-xs hidden-sm"></span>
                            <div class="login"><a title="Đăng xuất" href="/DangkyDangnhap/Dangxuat"><span>Đăng xuất</span></a></div>
                        }
                    </div>
                 
                    <!-- End Top Cart -->
                </div>
            </div>
        </header>
        <!-- end header -->
        <!-- Navbar -->
        <nav style="background: #1295c7;">
            <div class="container" style="background:#1295c7">
                <div class="nav-inner">
                    <!-- mobile-menu -->
                    <div class="hidden-desktop" id="mobile-menu">
                        <ul class="navmenu">
                            <li>
                                <div class="menutop">
                                    <div class="toggle"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
                                    <h2>Menu</h2>
                                </div>
                                <ul style="display:none;" class="submenu">
                                    <li>
                                        <ul class="topnav">


                                            <li class="level0 level-top parent">
                                                <a href="/" class="level-top"> <span>Trang chủ</span> </a>
                                            </li>



                                            <li class="level0 level-top parent">
                                                <a href="/Pages/Gioithieu" class="level-top"> <span>Giới thiệu</span> </a>
                                            </li>



                                            <li class="level0 level-top parent">
                                                @Html.Action("Menutop", "Home")
                                            </li>



                                            <li class="level0 level-top parent">
                                                <a href="/Pages/Tintuc" class="level-top"> <span>Tin tức</span> </a>
                                            </li>



                                            <li class="level0 level-top parent">
                                                <a href="/Pages/Lienhe" class="level-top"> <span>Liên hệ</span> </a>
                                            </li>


                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!--navmenu-->
                    </div>
                    <!--End mobile-menu -->
                    <a class="logo-small" title="Điện thoại thông minh VSMobile" href="/"><img alt="Điện thoại thông minh VSMobile" src="~/Demo/Hinhanh/logomobile.jpg"></a>
                    <ul id="nav" class="hidden-xs">


                        <li class="level0"><a href="/"><span>Trang chủ</span> </a>



                        <li class="level0"><a href="/Pages/Gioithieu"><span>Giới thiệu</span> </a>

                        <li class="level0 drop-menu">@Html.Action("Menutop", "Home")</li>

                        <li class="level0"><a href="/Pages/Tintuc"><span>Tin tức</span> </a>



                        <li class="level0"><a href="/Pages/Lienhe"><span>Liên hệ</span> </a>



                    </ul><br />
                    <div class="top-cart-contain">
                        <div class="mini-cart">
                            &nbsp;
                            @Html.Action("GiohangPartial", "Giohang")
                        </div>

                        <div id="ajaxconfig_info">
                            <a href="#/"></a>
                            <input value="" type="hidden">
                            <input id="enable_module" value="1" type="hidden">
                            <input class="effect_to_cart" value="1" type="hidden">
                            <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end nav -->
        <div id="add_succes" style="display:none"></div>
        <script>
            Bizweb.getCart(loadCart);
            function loadCart(cart) {
                var html = "";
                for (i = 0; i < cart.items.length; i++) {
                    html += "<li class='item even'>";
                    if (cart.items[i].Image) {
                        html += "<a class='product-image' href='" + cart.items[i].url + "' title='" + cart.items[i].Name + "'><img alt='" + cart.items[i].Name + "' src='" + cart.items[i].Image + "' width='80'></a>";
                    }
                    else {
                        html += "<a class='product-image' href='" + cart.items[i].url + "' title='" + cart.items[i].Name + "'><img alt='" + cart.items[i].Name + "' src='http://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif' width='80'></a>";
                    }

                    html += "<div class='detail-item'>";
                    html += "<div class='product-details'>";
                    html += "<a href='javascript:void(0);' title='Loại bỏ SP' onclick='Bizweb.removeItem(" + cart.items[i].variant_id + " , removeCart)' class='glyphicon glyphicon-remove'>&nbsp;</a> <a class='glyphicon glyphicon-pencil' title='Sửa sản phẩm' href='/cart'>&nbsp;</a>";
                    html += "<p class='product-name'> <a href='" + cart.items[i].url + "' title='" + cart.items[i].name + "'>" + cart.items[i].name + "</a></p>";
                    html += "</div>";
                    html += "<div class='product-details-bottom'> <span class='price'>" + Bizweb.formatMoney(cart.items[i].price, '{{amount_no_decimals_with_comma_separator}}₫') + "</span><span class='title-desc'>Số lượng:</span> <strong>" + cart.items[i].quantity + "</strong></div>";
                    html += "</div>";
                    html += "</li>";
                }
                $("#cart-total strong").html(cart.item_count);
                $("#cart-sidebar").html(html);
                $(".top-subtotal span").html(Bizweb.formatMoney(cart.total_price, '{{amount_no_decimals_with_comma_separator}}₫'));
            }
            function removeCart(cart) {
                Bizweb.getCart(loadCart);
            }
            function cartItem(addItem) {
                var html = "";
                html += "<div>";
                if (addItem.Image != null) {
                    html += "<img src='" + addItem.image + "' width='80px' alt='Công nghệ số Accent'>";
                }
                else {
                    html += "<img src='http://bizweb.dktcdn.net/thumb/large/assets/themes_support/noimage.gif' width='80px' alt='VSMobile'>";
                }

                html += "</div>";
                html += "<div>";
                html += "<p>" + addItem.name + "</p>"
                html += "<p><i class='fa fa-check'></i>Thêm thành công sản phẩm vào giỏ hàng</p>";
                html += "</div>";
                $('#add_succes').html(html);
                $("#add_succes").fancybox({
                    width: 300,
                    minHeight: 50,
                    afterShow: function () {
                        setTimeout(function () { $.fancybox.close(); }, 2500);
                    },
                    afterClose: function () {
                        clearTimeout();
                    }
                });
                $("#add_succes").trigger('click');
                Bizweb.getCart(loadCart);
            }
        </script>
        @RenderBody()
      @RenderPage("Footer.cshtml")
        <!-- End Footer -->
    </div>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span></a>
    <div>
        <div style="display:none">
            <img src="https://stats.bizweb.vn/Delivery/Logging?SiteId=37441&amp;Url=https://accent-theme.bizwebvietnam.net/laptop&amp;ReferenceUrl=https://accent-theme.bizwebvietnam.net/">
        </div>
    </div>
</body>
</html>